@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Asap&family=Barlow&family=Catamaran&family=Hind+Madurai&family=Lato&family=Nunito&family=Open+Sans&family=Oxygen&family=Questrial&family=Quicksand&family=Roboto&family=Rubik&family=Zilla+Slab&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
